

.item a {
    text-decoration: none;
     color: white;
    cursor: pointer;

}.nav {
     grid-area: n;
     background-color: #020F21;
     height: 400px;
     justify-content: space-between;
 }

.item a:hover {
    color: #8DB953;
    transition: 1s;
}

a.active {
    color: gold;

}
